{{>profileBar}}
{{>searchForm}}
<ul class="chats-list">
<li class="chats-list__item">{{>chatCard avatar="https://placehold.co/47" title="Anton" lastMessage="Привет!" unreadCount="2" href="chatAnton.html"}}</li>
<li class="chats-list__item">{{>chatCard avatar="https://placehold.co/47" title="Иван" lastMessage="Привет!" unreadCount="2" href="404.html"}}</li>
</ul>