<div class="dialog-message-grid">
  {{>message type="out" content="Привет!" time="20:02"}}
  {{>message type="in" content="Привет! Это тестовое сообщение в мессенджере практикума" time="20:02"}}
  <p class="dialog-message-grid__date">1 октября</p>
</div>
