<link rel="stylesheet" type="text/css" href="/style.css"  />
<div class="profileLayout">
    {{>navigationBack id="backToChat"}}
    <div class="profile-info">
    <img src="{{avatarUrl}}" class="profile-info__avatar" alt="link" />
    <h1 class="profile-info__header">{{userName}}</h1>
    <form action="profile.html" method="POST">
    {{>editRow caption="Старый пароль" type="password" }}
    {{>editRow caption="Новый пароль" type="password" }}
    {{>editRow caption="Повторите новый пароль" type="password" }}
    {{>submit buttonName="Сохранить"}} 
    </form>
    
    </div>
<div>