@import 'theme';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: $text-dark;
}

a {
  font-weight: 500;
  color: $primary-color;
  text-decoration: inherit;
}

a:hover {
  color: $primary-color;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

main,
#app {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.error-text {
  color: $invalid;
  font-size: 12px;
}
